# Ignore virtual environment folder
venv/

# Ignore environment variables file
.env
requirements.txt

# Ignore compiled Python files
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore model files
*.pth
Intent Detection/glove/glove.6B.100d.txt
requirements.txt
