# Ignore virtual environment folder
venv/
*venv/

# Ignore backup
backup/

# Ignore environment variables file
.env

# Ignore diagram file
.pptx

# Ignore compiled Python files
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.pptx

# Ignore model files
*.pth
*.pkl
*.txt

AWS SageMaker.md
