# General purpose libraries
numpy
pandas
scikit-learn
matplotlib
seaborn
scipy
tqdm

# Models
xgboost

# Deep Learning frameworks
torch
# tensorflow  			# not working with Python 3.13

# NLP-specific libraries
nltk
transformers
openai
haystack-ai
sentence-transformers
# gensim					# error, cannot install 
# spacy  					# dependency issues, cannot install 
# textblob==0.17.1
# sentencepiece==0.1.99

# Pre-trained Model Support
# huggingface_hub

# Augmentation & Text Processing
deep_translator

# Miscellaneous
pytz						# timezone for logging
imblearn				# SMOTE Oversampling
requests				# making HTTP requests
dotenv					# loading environment file
pathlib					# Path to a file
pypdf					# read pdf
# jupyterlab
# notebook
# ipython

# Python's standard libraries: random, os, datetime, warnings, json, re, difflib